.list {

  &__header {
    background: $off-white;
    border: 1px solid darken($off-white, 7%);
    color: $grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $s-size $m-size;
  }

  &__body {
    margin-bottom: $m-size;
    @media (min-width: $desktop-bp) {
      margin-bottom: $l-size;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    border: 1px solid darken($off-white, 7%);
    border-top: none;
    color: $dark-grey;
    padding: $s-size;
    text-decoration: none;
    transition: background .3s ease;
    &:hover {
      background: $off-white;
    }
    @media (min-width: $desktop-bp) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: $m-size;
    }
  }

  &__item--message {
    align-items: center;
    justify-content: center;
    color: $grey;
    padding: $m-size;

    &:hover {
      background: none;
    }
  }

  &__item-title {
    margin: 0;
    word-break: break-all;
  }

  &__item-sub-title {
    color: $grey;
    font-size: $font-size-small;
  }

  &__item-data {
    margin: $s-size 0 0 0;
    @media (min-width: $desktop-bp) {
      margin: 0;
      padding-left: $s-size;
    }
  }

}